<%= l(:settings_inherit_issue_description)%>
<table>
  <tbody>
    <tr>
      <th><%= l(:settings_inherit_issue_caption)%></th>
      <td>
      	<%= select_tag 'settings[ancestor_attribute]', options_for_select(CustomField.all.collect {|t| [ t.name, t.id ] }, settings['ancestor_attribute']), { include_blank: true }%>
      </td>
      <td><%= l(:settings_inherit_issue_help)%></td>            
    </tr>
    <tr>
      <th><%= l(:settings_inherit_issue_notset_only)%></th>
      <td>
      	<%= hidden_field_tag "settings[ancestor_notset_only]", 0 %>
  		<%= check_box_tag "settings[ancestor_notset_only]", 1, @settings['ancestor_notset_only'].to_i == 1 %>
      </td>
      <td><%= l(:settings_inherit_issue_notset_only_help)%></td>            
    </tr>
    <tr>
      <th><%= l(:settings_inherit_issue_hide)%></th>
      <td>
      	<%= hidden_field_tag "settings[ancestor_notset_hide]", 0 %>
  		<%= check_box_tag "settings[ancestor_notset_hide]", 1, @settings['ancestor_notset_hide'].to_i == 1 %>
      </td>
      <td><%= l(:settings_inherit_issue_hide_help)%></td>            
    </tr>
  </tbody>
</table>